@import "./../../scss/variables";
.form-wrapper {
  background-image: url("../../assets/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .form-parent {
    .form-title {
      color: $primaryColorLight;
      font-size: 3em;
    }
    .form-bg {
      width: 35%;
      background-color: white;
      box-shadow: 0px 6px 28px 9px #ddb0c5;
      border-radius: 1em;
      .google-icon {
        height: 1.3em;
      }
      .divider {
        height: 0.1em;
        width: 40%;
      }
      .sign-in-goole {
        border: none;
        border-radius: 1.7em;
        color: #868686;
        img {
          height: 1.2em;
        }
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .form-wrapper {
    .form-parent {
      height: 25em;
      .form-title {
        font-size: 2em;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .form-wrapper {
    .form-parent {
      .form-bg {
        width: 75%;
      }
    }
  }
}
@media screen and (min-width: 1440px) {
  .login-wrapper {
    .form-parent {
      // height: 30em;
    }
  }
}
