.send-msg-bar {
  bottom: 10px;
  width: 97%;
  input.send-msg {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 2px 6px -1px #cbcbcb;
    &:focus {
      outline: none;
    }
  }
  .send-btn {
    svg:hover {
      cursor: pointer;
    }
  }
  .disable-send-msg:hover {
    cursor: not-allowed !important;
  }
}

//LIGHT-MODE
.section-bg.light-mode {
  .send-msg-bar {
    .send-btn {
      color: black;
    }
  }
}
//DARK-MODE
.section-bg.dark-mode {
  .send-msg-bar {
    .send-btn {
      color: white;
    }
  }
}
