@import "./../../scss/variables";
.send-msg-bar {
  bottom: 0;
  .send-btn {
    color: #999797;
    svg:hover {
      cursor: pointer;
    }
  }
  .disable-send-msg:hover {
    cursor: not-allowed !important;
  }
}
