@import "./../../scss/variables";
// @mixin mode($modeBg, $primaryText, $secondaryText) {
//   background-color: $modeBg;
//   color: $primaryText;
// }

// .dark-mode {
//   @include mode($primaryColorDark, $secondaryColorDark, green);
// }

// .light-mode {
//   @include mode($primaryColorLight, $secondaryColorLight, red);
// }

.chat-wrapper {
  min-height: 70vh;
  .section-bg {
    border-radius: 1.6em;
    min-height: 79.9vh;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .messages-wrapper {
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
  }
}
//DARK-MODE
.chat-wrapper.dark-mode {
  background-color: black;
  .send-msg-bar {
    background-color: $darkBg;
  }
  .section-bg {
    border: 5px solid black;
    background-color: $darkBg;
    color: $secondaryColorDark;
  }
}
//LIGHT-MODE
.chat-wrapper.light-mode {
  border: 5px solid white;
  .send-msg-bar {
    background-color: $secondaryColorLight;
    color: $primaryColorDark;
  }
  .section-bg {
    border: 5px solid white;
    background-color: $secondaryColorLight;
    color: $primaryColorLight;
  }
}
