@import "./../../scss/variables";
.chat-wrapper {
  min-height: 80vh;
  .messages-wrapper {
    max-height: 78vh;
    overflow-y: auto;
    .chat-heading {
      top: 0;
      z-index: 11;
      border-bottom: 1px solid #e1e1e1;
    }
  }
}
