@import "./../../scss/variables";
.users-list-wrapper {
  max-height: 76vh;
  overflow: auto;
  .selected-user {
    border-radius: 1.4em;
  }
  a {
    font-size: 1.1em;
  }
  .user-item {
    word-break: break-word;
  }
}
