@import "./../../scss/variables";
.chat-min-height {
  min-height: 59vh;
}
.chat-board {
  margin-bottom: 2em;
  .user-name {
    font-size: 1.5em;
  }
  .peer-user-name {
    font-size: 1.2em;
  }
  .say-hi-icon {
    transform: skew(-12deg, 10deg);
    fill: #ffd000;
    font-size: 2.5em;
  }
  .msg-bg-current-user {
    background-color: $currentUserMsgBg;
    color: $secondaryColorDark;
  }
  .msg-bg-current-user:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    left: 98%;
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $currentUserMsgBg;
  }
  .msg-bg-peer-user:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    right: 98%;
    border-left: 8px solid transparent;
  }
  .msg-bg-current-user,
  .msg-bg-peer-user {
    border-radius: 3px;
    font-size: 1.2em;
  }
  .time {
    color: #999797;
  }
}
