.chat-board {
  margin-bottom: 5em;
  .user-name {
    font-size: 1.5em;
  }
  .say-hi-icon {
    transform: skew(-12deg, 10deg);
    fill: #ffd000;
    font-size: 2.5em;
  }
  .msg-bg-current-user:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    left: 98%;
    border-left: 0 solid transparent;
    border-right: 8px solid transparent;
  }
  .msg-bg-peer-user:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    right: 98%;
    border-left: 8px solid transparent;
  }
  .msg-bg-current-user,
  .msg-bg-peer-user {
    border-radius: 3px;
    font-size: 1.2em;
  }
  .status-circle-large {
    bottom: 10px;
    right: 25px;
    height: 12px;
    width: 14px;
    background-color: #32d040;
    border-radius: 10px;
  }
  .status-circle-small {
    top: 1.5rem;
    right: 1px;
    height: 8px;
    width: 8px;
    background-color: #32d040;
    border-radius: 10px;
  }
  .time {
    color: #999797;
  }
}
//LIGHT-MODE
.chat-wrapper.light-mode {
  .msg-bg-current-user {
    background-color: #2d5872;
    color: white;
    &:before {
      border-bottom: 8px solid #2d5872;
    }
  }

  .msg-bg-peer-user {
    background-color: white;
    &:before {
      border-bottom: 8px solid white;
    }
  }
}
//DARK-MODE
.chat-wrapper.dark-mode {
  .msg-bg-current-user {
    background-color: #2d5872;
    &:before {
      border-bottom: 8px solid #2d5872;
    }
  }
  .msg-bg-peer-user {
    background-color: #424242;
    &:before {
      border-bottom: 8px solid #424242;
    }
  }
}
