.filter-bar {
  ::placeholder {
    color: rgb(156, 152, 152);
  }
}
.chat-wrapper.dark-mode {
  .filter-bar {
    input {
      border-radius: 1.4em;
      background-color: #090909;
      border: none;
      color: white;
      padding: 12px;
      box-shadow: 0px 0px 11px -2px #494949;
    }
  }
}
.chat-wrapper.light-mode {
  .filter-bar {
    input {
      padding: 12px;
      border: 1px solid #dbdbdb;
      box-shadow: 0px 2px 6px -1px #cbcbcb;
      border-radius: 1.4em;
      color: #494949;
    }
  }
}
