@import "./../../scss/variables";
.splash-screen {
  background-image: url("../../assets/images/Skyline_.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 95vh;
  .logo {
    height: 4em;
  }
  .main-text {
    font-size: 4em;
    color: $primaryColorLight;
  }
}
@media screen and (max-width: 460px) {
  .splash-screen {
    min-height: 92vh;
    .main-text {
      font-size: 2em;
    }
  }
}
@media screen and (min-width: 1280px) {
  .splash-screen {
    min-height: 93vh;
  }
}
