@import "./../../scss/variables";
.navbar-wrapper {
  .action-wrapper {
    .mode-icon,
    .logout-icon,
    .mode-icon-active {
      font-size: 1.8em;
    }
    .mode-icon {
      height: 2.7rem;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
      }
    }
    .logout-icon {
      color: #bebebe;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .navbar-wrapper {
    .action-wrapper {
      width: 50% !important;
    }
  }
}
