@import "./../../scss/variables";
.footer-wrapper {
  height: 4em;
  position: fixed;
  width: 100%;
  color: white;
}
.footer-wrapper.light-mode {
  box-shadow: 4px 0px 13px 3px #dfdfdf;
  background-color: white;
  svg {
    fill: $link;
  }
}
.footer-wrapper.dark-mode {
  background-color: $darkBg;
  svg {
    fill: $link;
  }
}
