@import "./../../scss/variables";
.form-wrapper {
  input[type="file"] {
    color: transparent;
    visibility: hidden;
  }
  .upload-btn {
    color: #000000;
    border: 1px dashed #cacaca;
    border-radius: 4em;
    border-radius: 7em;
    height: 7em;
    width: 7em;
    cursor: pointer;
    .label-content {
      color: #818181;
      svg {
        font-size: 2em;
      }
    }
    svg {
      color: #818181;
    }
  }
  .seleceted-img-name {
    color: $primaryColorDark;
  }
}
