@import "./../../scss/variables";
.user-profile-wrapper {
  box-shadow: 0px 3px 6px -2px #c3c3c3;
  .MuiAvatar-root {
    box-shadow: 0px 1px 4px 4px #c3c3c3;
  }
  .user-name {
    color: $primaryColorLight;
  }
}
