.navbar-wrapper.dark-mode {
  background-color: $darkBg;
  color: white;
  .brand-name {
    color: white;
  }
  .logo {
    fill: white;
  }
  .action-wrapper {
    color: white;
  }
}
.chat-wrapper.dark-mode {
  background-color: black;
  //SCROLL
  /* scroll-track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  /* scroll-handle */
  ::-webkit-scrollbar-thumb {
    background-color: white;
  }

  //MESSAGES-BG
  .msg-bg-current-user {
    background-color: $currentUserBg;
    &:before {
      border-bottom: 8px solid $currentUserBg;
    }
  }
  .msg-bg-peer-user {
    background-color: #424242;
    &:before {
      border-bottom: 8px solid #424242;
    }
  }

  //USER-PROFILE
  .user-profile-wrapper {
    box-shadow: 0px 0 10px -4px #cccccc;
    .user-name {
      color: white;
    }
  }

  //SEND MSG BAR
  .send-msg-bar {
    background-color: $darkBg;
    input.send-msg {
      background-color: #090909;
      box-shadow: 0px 0 9px -6px #676767;
      border: none;
      color: white;
    }
    .send-btn {
      background-color: #090909;
      box-shadow: 0px 2px 11px -4px #676767;
    }
  }

  //SECTION-BG [USERS LIST, MESSAGES, USER PROFILE]
  .section-bg {
    border: 5px solid black;
    background-color: $darkBg;
    color: $secondaryColorDark;
    .chat-heading {
      background-color: $darkBg;
      color: white;
    }
    .welcome-heading {
      color: white;
    }
    .users-list-wrapper {
      color: white;
      .filter-bar {
        input {
          border-radius: 1.4em;
          background-color: #090909;
          border: none;
          color: white;
          padding: 12px;
          box-shadow: 0px 0px 11px -2px #494949;
        }
      }
      a {
        color: $secondaryColorLight;
      }
      .selected-user {
        background-color: #191919;
        box-shadow: 0px 4px 2px 0px #313131;
      }
    }
  }
}
.footer-wrapper.dark-mode {
  background-color: $darkBg;
  svg {
    fill: white;
  }
}
