@font-face {
  font-family: "LT-Azer-Regular";
  src: url("../assets/fonts/29LTAzer/29LT-Azer-Regular.OTF");
}
@font-face {
  font-family: "LT-Azer-Medium";
  src: url("../assets/fonts/29LTAzer/29LT-Azer-Medium.OTF");
}
@font-face {
  font-family: "LT-Azer-Bold";
  src: url("../assets/fonts/29LTAzer/29LT-Azer-Bold.OTF");
}
