//FONTS
.bold-font {
  font-family: LT-Azer-Bold;
}
.medium-font {
  font-family: LT-Azer-Medium;
}
//BUTTONS
.primary-button,
.secondary-button {
  border-radius: 3em;
}
.primary-button {
  background-color: $primaryColorLight;
  border: 1px solid $primaryColorLight;
  color: white;
}
.secondary-button {
  background-color: transparent;
  border: 1px solid $primaryColorLight;
  color: $primaryColorLight;
}
button:focus {
  outline: none;
}
//GENERAL STYLES
a:hover {
  text-decoration: none;
}
.status-circle-large {
  bottom: 10px;
  right: 25px;
  height: 12px;
  width: 14px;
  background-color: #32d040;
  border-radius: 10px;
}
.status-circle-small {
  top: 1.5rem;
  right: 1px;
  height: 8px;
  width: 8px;
  background-color: #32d040;
  border-radius: 10px;
}
//SCROLL
/* scroll-width */
::-webkit-scrollbar {
  width: 5px;
}
/* scroll-track */
::-webkit-scrollbar-track {
  // background: #f0f0f0;
  border-radius: 3em;
  padding-left: 10px;
}
/* scroll-handle */
::-webkit-scrollbar-thumb {
  // background: $primaryColorLight;
  border-radius: 3em;
  width: 6px;
  height: 10px;

  &:hover {
    cursor: pointer;
  }
}
.chat-wrapper.dark-mode {
  /* scroll-track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  /* scroll-handle */
  ::-webkit-scrollbar-thumb {
    background-color: white;
  }
}
.chat-wrapper.light-mode {
  /* scroll-track */
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  /* scroll-handle */
  ::-webkit-scrollbar-thumb {
    background-color: $primaryColorLight;
  }
}
