//FONTS
.bold-font {
  font-family: LT-Azer-Bold;
}
.medium-font {
  font-family: LT-Azer-Medium;
}
//BUTTONS
.primary-button,
.secondary-button {
  border-radius: 3em;
  font-size: 1.2em;
}
.primary-button {
  background-color: $primaryBtn;
  border: 1px solid $primaryBtn;
  color: white;
}
.secondary-button {
  background-color: transparent;
  border: 1px solid $primaryBtn;
  color: $primaryBtn;
}
button:focus {
  outline: none;
}
//GENERAL STYLES
.logo {
  height: 3em;
}
.brand-name {
  color: $link;
}
a:hover {
  text-decoration: none;
}
.status-circle-large {
  bottom: 10px;
  right: 18px;
  height: 12px;
  width: 14px;
  background-color: #32d040;
  border-radius: 10px;
}
.status-circle-small {
  top: 1.5rem;
  right: 1px;
  height: 8px;
  width: 8px;
  background-color: #32d040;
  border-radius: 10px;
}
.input {
  box-shadow: 1px 2px 4px 1px #e6e6e6;
  border: none;
  border-radius: 1.7em;
  color: $primaryColorLight;
}
input,
button {
  &:focus {
    outline: none !important;
  }
}
::placeholder {
  color: #818181;
}
//SCROLL
/* scroll-width */
::-webkit-scrollbar {
  width: 6px;
}
/* scroll-handle */
::-webkit-scrollbar-thumb {
  // background: $primaryColorLight;
  border-radius: 3em;
  width: 6px;
  height: 10px;
}
