$primaryColorDark: #000000;
$primaryColorLight: #273659; //#432759; //#2d5872;
$secondaryColorDark: #ffffff;
$secondaryColorLight: #f5f7f8;
$link: #273659; // #432759 //#6da9cc;
$darkBg: #1a1a1a;
$lightBg: #f5f7f8;
$currentUserBg: #273659; // #432759; //#91cee1;
$primaryBtn: #273659; //#432759// #91cee1;
