$primaryColorDark: #000000;
$primaryColorLight: #2d5872;
$secondaryColorDark: #ffffff;
$secondaryColorLight: #f5f7f8;
$link: #6da9cc;
$darkBg: #1a1a1a;
$lightBg: #f5f7f8;
$currentUserBg: #91cee1;
$primaryBtn: #91cee1;
